<div class="jspPane">
    <div class="inner">
        <h2>PORTAFOLIO</h2>
        <div class="title-divider"></div>
        <h3>PROYECTOS REALIZADOS</h3>
        <p style="text-align: justify;">Algunos de los proyectos en los que he podido participar a nivel laboral y personal.</p>
        <div class="full-divider"></div>
        <div class="row">

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://www.c-deginventario.com" target="_blank">
                            <i class="fa fa-dropbox logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Aplicación de inventariado</h5>
                        <span>C-DEG</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de inventariado para la empresa C-DEG, manejo de roles e información de productos por medio de tablas relacionales en POSTGRESQL, un backend basado en NODE.js y un front en Angular8.
                <br>
                <a href="https://www.c-deginventario.com">www.c-deginventario.com</a>
            </div>
            <!--educación ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://routable-map.herokuapp.com" target="_blank">
                            <i class="fa fa-map logo_work"></i>
                        </a>
                    </div>

                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Mapa ruteable</h5>
                        <span>Personal</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de generación de rutas en Google Maps para múltiples puntos, con un backend basado en DJANGO-REST-FRAMEWORK y un front en Angular8.
                <br>
                <a href="https://routable-map.herokuapp.com">routable-map.herokuapp.com</a>
            </div>
            <!--educación ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="http://www.bartronics.com.co/" target="_blank">
                            <i class="fa fa-html5 logo_work"></i>
                        </a>
                    </div>

                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Página web</h5>
                        <span>BARTRONICS SERVICES S.A.S</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de web de presentación de la empresa, con un backend basado en NODE.JS y un front en Angular8.
                <br>
                <a href="http://www.bartronics.com.co/">www.bartronics.com.co</a>
            </div>
            <!--educación ***-->

        </div>
    </div>
</div>