<div class="jspPane">
    <div class="inner">
        <h2>EDUCACIÓN</h2>
        <div class="title-divider"></div>
        <h3>Formación académica</h3>
        <p style="text-align: justify;">Poseo un postgrado en Gerencia de Proyectos, al igual que un pregado en Ingeniería Electrónica y un curso complementario en inglés B2. Soy una persona con bastante vocación por su profesión, razón por la cual constantemente me encuentro buscando
            nuevos aprendizajes y retos profesionales.</p>
        <div class="full-divider"></div>
        <div class="row">

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/especializacion.pdf" target="_blank">
                            <i class="fa fa-university logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>UNIVERSIDAD PONTIFICIA BOLIVARIANA</h5>
                        <span>2020 - 2021</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <h4 style="text-align: center;">Especialista en Gerencia de Proyectos</h4>
            </div>
            <!--educación ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/pregrado.pdf" target="_blank">
                            <i class="fa fa-university logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>UNIVERSIDAD DEL QUINDÍO</h5>
                        <span>2013 - 2019</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <h4 style="text-align: center;">Ingeniero Electrónico</h4>
            </div>
            <!--educación ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/ingles.pdf" target="_blank">
                            <i class="fa fa-university logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>THE CAMBRIDGE ENGLISH INSTITUTE</h5>
                        <span>2018 - 2018</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <h4 style="text-align: center;">Curso complementario en Inglés B2</h4>
            </div>
            <!--educación ***-->

        </div>
    </div>
</div>