.target{
    background-color: transparent;
}

@media (max-width: 768px){
    .target{
        margin-top: 30px;
    }
}

@media (min-width: 768px){
    .target{
        margin-top: 30px;
        padding: 0%;
    }
}


@media (max-width: 768px){
    .textSize {
        
        padding: 0;
    }
}
