<div class="row">
    <div class="col-12">
        <div class="jumbotron jumbotron-fluid target">
            <div class="container">
              <h1 class="display-5">Conocimientos</h1>              
              <div class="row">
                <div class="col">
                    <img src="./assets/img/angular.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/nodejs.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/postgresql.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/mysql.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/lenguaje_c.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/asp_net_core.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/django.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/linux.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/windows.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/vmware.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/digitalocean.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/mikrotik.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/cisco.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/scrum.png" width="100" height="100" alt="">
                </div>
              </div>
                <!--                                                                                                                                                
                -->

                <div class="row mt-5">
                    <p>A lo largo de mi trayectoría profesional he tenido la oportunidad de acercarme a diferentes tecnologías y herrramientas, siendo estas principalmente enfocadas al mundo del software y la automatización de procesos mediante este.</p>
                    <div class="col-4">
                      <ul class="textSize">
                        <li>Angular</li>
                        <li>NodeJS</li>
                        <li>PostgreSQL</li>
                        <li>MySQL</li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="textSize">
                        <li>Lenguaje C</li>
                        <li>ASP.NET CORE 5</li>
                        <li>Django</li>
                        <li>S.O Windows / Linux</li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="textSize">                        
                        <li>Vmware / Servicios en nube</li>
                        <li>S.O Mikrotik / Cisco</li>
                        <li>Metodología SCRUM</li>
                      </ul>
                    </div>
                </div>
        
            </div>
        </div>
    </div>

</div>

