
body{
    background-color:#1a1a1a !important;
    color: #818181;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px){
    body{
        width: 100%;
        margin: 0;        
        height: 100%;
    }
}
    
@media (min-width: 768px){
    body{
        position: absolute;
        padding-left: 15px;
        top: 0;
        left: 200px;    
    }
}