<div class="row">
    <div class="col-lg-6 col-sm-6 col-12 order2">
        <div class="jumbotron jumbotron-fluid target">
            <div class="container">
                <h1 class="display-5">¿QUIEN SOY?</h1>
                <p style="text-align: justify;" class="lead">Ingeniero electrónico y Especialista en Gerencia de proyectos, así como un apasionado de la ingeniería y en especial de las telecomunicaciones y los lenguajes de programación, con una fuerte disciplina y entrega para realizar labores.
                    El respeto y solidaridad son mis principales valores......!También amo hacer ejercicio! </p>
                <div class="about-con">
                    <ul>
                        <li>Nombre: Juan David Aragón Jaramillo</li>
                        <li>Correo: <a href="jdaragonj@uqvirtual.edu.co">jdaragonj@uqvirtual.edu.co</a></li>
                        <li>Teléfono: (+57) -310 472 82 73</li>
                        <li>Fecha de nacimiento: 13 Enero 1995</li>
                        <li>Lugar de vivienda: Caicedonia Valle, Colombia.</li>
                        <li>Nacionalidad: Colombiano</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-12 text-center order1">
        <img src="./assets/img/juan_edeq.png" class="foto_jd" alt="">
    </div>

</div>