
.target{
    background-color: transparent;
}
.foto_jd{
    width: 264px; 
    height: 574px;
}
@media (max-width: 768px){
    .target{
        margin-top: 0px
    }
    .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
    .foto_jd{
        width: 132px; 
        height: 287px;
    }
}

@media (min-width: 768px){
    .target{
        margin-top: 20px
    }
}

