<div class="jspPane">
    <div class="inner">
        <h2>Experiencia</h2>
        <div class="title-divider"></div>
        <h3>2 años de experiencia!</h3>
        <p style="text-align: justify;">Laboramente cuento con multiples experiencia certificables, las cuales se remontan hasta mi etapa de formación de pregado</p>
        <div class="full-divider"></div>
        <div class="row">

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/bitwan.pdf" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>INSITEL S.A.S</h5>
                        <h4>INGENIERO DE DESAROLLLO</h4>
                        <span>2022 - ACTUALIDAD</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <!--Phasellus nec gravida purus. Aliquam ac enim vel ipsum consectetur vulputate. Duis quis feugiat neque. Pellentesque eleifend, nisi vel mattis vestibulum, est lacus pretium quam.-->
                Desarrollo de aplicaciones para el control de las operaciones internas de la empresa, de las cuales depende la información de las ventas de los servicios de internet, así como mantenimiento y continuidad de los aplicativos hechos para la administración
                de la red.
            </div>
            <!--trabajo ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/bitwan.pdf" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>INSITEL S.A.S</h5>
                        <h4>INGENIERO DE REDES LÓGICO</h4>
                        <span>2020 - 2022</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <!--Phasellus nec gravida purus. Aliquam ac enim vel ipsum consectetur vulputate. Duis quis feugiat neque. Pellentesque eleifend, nisi vel mattis vestibulum, est lacus pretium quam.-->
                Diseño de redes, creación de scripts y APIS en PYTHON, integración de sistemas de la empresa en plataformas Web basadas en Angular y NodeJS, configuraciones lógicas en los equipos que conforman la red GPON tales cómo; Routerboard, OLT, ONT, Servidores
                y software de monitoreo entre otros. Gestión de innovaciones técnicas y de procesos, así como dirección y apoyo al grupo de soporte técnico remoto y en los casos que se requiera apoyo al área de soporte técnico presencial.
            </div>
            <!--trabajo ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/Certificado_bartronics.pdf" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>BARTRONICS SERVICES SAS</h5>
                        <h4>INGENIERO ELECTRÓNICO</h4>
                        <span>2019 - 2020</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Desarrollo de aplicaciones, gestión y ejecución de proyectos de seguridad para el hogar y pequeña empresa al igual que trabajos a nivel técnico.
            </div>
            <!--trabajo ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/Certificado_aeropuerto.pdf" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>COLLINS AEROSPACE</h5>
                        <h4>TÉCNICO DE SOPORTE</h4>
                        <span>2019 - 2019</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Mantenimiento correctivo y preventivo de los sistemas de uso común “CUSS & CUPPS”, soporte técnico a los sistemas de uso común “CUSS & CUPPS”, mantenimiento general al HARDWARE para conseguir un mayor rendimiento del SOTWARE asociado a los sistemas de
                uso común “CUSS & CUPPS”.
            </div>
            <!--trabajo ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://app-jdportafolio.herokuapp.com/file/trabajo_universidad.pdf" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>UNIVERSIDAD DEL QUINDÍO</h5>
                        <h4>AUXILIAR DE LABORATORIO</h4>
                        <span>2018 - 2018</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Control de inventario, préstamos y administración de salas de trabajo, soporte de aplicación de préstamos.
            </div>
            <!--trabajo ***-->

        </div>
    </div>
</div>