.copyr{
    text-align: center;
    font: Semibold 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #585858;
    opacity: 0.53;
}
.titulos{
    
    font: Bold 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #585858;
    opacity: 1;
}
.textcss{
    
    font: Regular 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: #585858;
    opacity: 1;
}
.text2css{
    font: Regular 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: #009B07;
    opacity: 1;
}