<footer class="mt-4" style="background-color:#FFFFFF;">
    
        <!--<div style="background-color: #8bc34a;">
                <div class="container">
                    <div class=" py-2 text-center">
                      <hr>
                        
                        <img class="mt-4" src="/assets/img/logo1.jpeg" width="100px" /> 
                    </div>  
                </div>
            </div>-->
            <br>
        
            <div class="container text-center text-md-left mt-4">
        
                <div class="row">
                    <div class="col-12 col-md-4">
                        
                        <h6 class="titulos text-uppercase">C-deg S.A.S</h6>
                        
                        <p class="textcss text-left"><small>{{'textfooter' | translate}}</small></p> 
                    </div> 
                    <div class="col-12 col-md-4">
                        <h6 class="titulos text-uppercase">{{'know' | translate}}</h6>
                        
                        <p>
                            <a class="text2css" href="http://www.c-deg.co/seite_02es.html" target="_blank"><small>{{'products' | translate}}</small></a>
                        </p>
                        <p>
                            <a class="text2css"  href="http://www.c-deg.co/c-deg_catalogo.pdf" target="_blank"><small>{{'catalog' | translate}}</small></a>
                        </p>
                        <p>
                            <a class="text2css"  href="http://www.c-deg.co/seite_04es.html" target="_blank"><small>{{'manservice' | translate}}</small></a>
                        </p>
        
                    
                    </div>
        
                    <div class="col-12 col-md-4">
        
                        <h6 class="titulos text-uppercase">{{'contact' | translate}}</h6>
                        <!--<hr class="teal accent-3  d-inline-block " style="width: 60px;"> -->
                        <p class="textcss">
                            <small>km 26 Aut Medellín-Bogotá<br>
                                Mall Los comuneros, local 22<br>
                                Guarne, Antioquia.</small> 
                        </p>
                        <p class="textcss">
                            <i class="fa fa-envelope" aria-hidden="true"><small> f.harff@c-deg.com.co</small></i> 
                        </p>
                       
                        <p class="textcss">
                            <i class="fa fa-phone" aria-hidden="true"> <small> +57 (4) 604 31 67 Ext. 2004 <br>
                                +49 431 220 17 76</small></i> 
                        </p>
                        <!--<p> 
                            <a style="color: white;" class="dark-grey-text" href="http://www.c-deg.co/index.html" target="_blank">www.c-deg.co</a>
                        </p> -->
                
                    </div>
            
                </div>
        
              </div>
              <div style="background-color:#EBEBEB;" class="copyr">
                    <a style="color: #585858;" href="https://www.bartronics.com.co" target="_blank"><small>© 2020 Copyright: Bartronics S.A.S</small></a>
              </div>  
        </footer>