<div class="wrapper">
    <!-- Sidebar  -->
    <div class="row nav_t">
        <div class="col-12 collapsed">
            <button type="button" id="sidebarCollapse" class="btn btn-info closed">
        <i class="fa fa-align-justify"></i>
        <span>Toggle Sidebar</span>
      </button>
        </div>
        <div class="col sidebar_col">
            <nav id="sidebar" class="container">
                <div class="sidebar-header">
                    <div class="logo">
                        <!-- Logo image-->
                        <img src="./assets/img/logo_personal.png" width="140" height="140" alt="">
                        <!-- Logo name-->
                        <!--<span>Juan Aragón</span>-->
                    </div>
                </div>

                <ul id="sideMenu" class="list-unstyled components">
                    <li>
                        <a [routerLink]="['About']">Acerca de mí</a>
                    </li>
                    <li>
                        <a [routerLink]="['Skills']">Conocimientos</a>
                    </li>
                    <li>
                        <a [routerLink]="['Experience']">Experiencia</a>
                    </li>
                    <li>
                        <a [routerLink]="['Education']">Educación</a>
                    </li>
                    <li>
                        <a [routerLink]="['Portfolio']">Portafolio</a>
                    </li>
                    <li>
                        <a [routerLink]="['Contacto']">Contacto</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li>
                        <a target="_blank" href="https://app-jdportafolio.herokuapp.com/file/cv_Juan_Aragon.pdf" class="download">Descarga resumen en PDF</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>




    <!-- http://themezaa.com/html/resume/black/index.html?page=experience  -->

</div>


<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>-->

<!-- jQuery CDN - Slim version (=without AJAX) -->
<!-- Popper.JS -->
<!-- Bootstrap JS -->
<!-- jQuery Custom Scroller CDN -->