@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
    display: flex;
    width: 100%;
}



/*
    DEMO STYLE
*/


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


#sidebar {
    overflow: scroll;    
    height: 100vh;
    color: #818181;
    background: #000;
    transition: all 0.3s;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px){
#sidebar {
    max-width: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
}
}

@media (min-width: 768px){
    #sidebar {
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999;
    }
}

a{
    border-bottom: 1px solid rgba(235,235,235,0.2);
}

#sidebar .sidebar-header {       
    margin: 30px 0 0;
    text-align-last: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {    
    color: #818181 !important;
    border: 2px solid #7dba5c;
    font-size: 14px;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


a.active {
    color: #7dba5c;    
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-top: -100vh; /*juan aqui desplazar hacia arriba*/        
        
    }
    #sidebar.active {
        margin-top: 0;
        margin-left: 0;
        width: 100% !important;
        height: 100vh;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.closed{
    background-color: #000 !important;
    border-color: #28a745 !important;
    border-width: 2px !important;
}

.nav_t{
    width: 100%;
    padding: 0;
    margin: 0;        
}


@media (min-width: 768px){
    .collapsed {
        display: none;
    }
}

@media (max-width: 768px){
    .collapsed {
        position: fixed;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 15px;
        margin-top: 15px;
        text-align-last: end;
        z-index: 10;
    }
}

.sidebar_col {
    padding: 0%;    
}

